---
import Contacto from "./contacto.astro";
---

<section>
  <h2>Agenda de proveedores</h2>
  <div>
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
    <Contacto />
  </div>
</section>