---
import BaseLayout from "../layouts/Layout.astro";
import Details from "../components/caja/details.astro";
import ItemDetail from "../components/caja/itemsDetails.astro";
---

<BaseLayout>
  <section class="flex flex-col lg:flex-row">
    <Details />
    <ItemDetail />
  </section>
</BaseLayout>
