---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <main>
    <article>
      <img
        src="/image/productos.webp"
        alt=""
      />
      <div>
        <h5>Mantén el orden de tus productos</h5>
        <div class="flex flex-row m-4 items-center gap-2">
          <div class="flex flex-col items-center w-52">
            <p class="text-center">Alerta de stock disponible</p>
            <svg
              width="64px"
              height="64px"
              viewBox="0 0 24 24"
              version="1.1"
              xml:space="preserve"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .st0 {
                    opacity: 0.2;
                    fill: none;
                    stroke: #000000;
                    stroke-width: 5e-2;
                    stroke-miterlimit: 10;
                  }
                </style>
                <g id="grid_system"></g>
                <g id="_icons">
                  <path
                    d="M5,15.5c-0.6,0.5-1,1.2-1,2C4,18.9,5.1,20,6.5,20h2.7c0.4,1.2,1.5,2,2.8,2s2.4-0.8,2.8-2h2.7c1.4,0,2.5-1.1,2.5-2.5 c0-0.8-0.4-1.5-1-2V10c0-1.9-0.7-3.6-2.1-4.9c-0.4-0.4-0.9-0.8-1.4-1.1c-2.1-1.2-4.9-1.2-7,0C6.3,5.2,5,7.5,5,10V15.5z M17.5,18H14 h-4H6.5C6.2,18,6,17.8,6,17.5S6.2,17,6.5,17h11c0.3,0,0.5,0.2,0.5,0.5S17.8,18,17.5,18z M7,10c0-1.8,1-3.4,2.5-4.3 c1.5-0.9,3.5-0.9,5,0c0.4,0.2,0.7,0.5,1,0.8C16.5,7.4,17,8.7,17,10v5H7V10z"
                  ></path>
                  <path
                    d="M18.5,4.4c0.3,0.3,0.6,0.6,0.8,1c0.2,0.4,0.4,0.8,0.5,1.2c0.1,0.4,0.5,0.7,1,0.7c0.1,0,0.2,0,0.3,0 c0.5-0.1,0.9-0.7,0.7-1.2c-0.2-0.6-0.4-1.2-0.7-1.7c-0.3-0.5-0.7-1-1.1-1.4c-0.3-0.3-0.6-0.6-1-0.8c-0.5-0.3-1.1-0.2-1.4,0.3 c-0.3,0.5-0.2,1.1,0.3,1.4C18.1,4,18.3,4.2,18.5,4.4z"
                  ></path>
                  <path
                    d="M2.9,6.9C3,7,3.1,7,3.2,7C3.6,7,4,6.7,4.1,6.3c0.1-0.4,0.3-0.8,0.6-1.1C5,4.8,5.2,4.5,5.6,4.3C5.8,4.1,6,3.9,6.3,3.8 c0.5-0.3,0.7-0.9,0.4-1.4C6.4,1.9,5.8,1.8,5.3,2c-0.4,0.2-0.8,0.5-1,0.7C3.8,3.1,3.4,3.6,3.1,4.1c-0.3,0.5-0.6,1-0.8,1.6 C2.1,6.2,2.3,6.8,2.9,6.9z"
                  ></path>
                </g>
              </g></svg
            >
          </div>
          <div class="flex flex-col items-center w-52">
            <p class="text-center">Rápido llamado a tus proveedores</p>
            <svg
              version="1.1"
              id="Uploaded to svgrepo.com"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="64px"
              height="64px"
              viewBox="0 0 32 32"
              xml:space="preserve"
              fill="#000000"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <style type="text/css">
                  .linesandangles_een {
                    fill: #111918;
                  }
                </style>
                <path
                  class="linesandangles_een"
                  d="M23,8H9l-4,6v14h22V14L23,8z M23.93,13H17v-3h4.93L23.93,13z M10.07,10H15v3H8.07L10.07,10z M7,26V15h18v11H7z M9,17h8v2H9V17z M9,20h8v2H9V20z"
                ></path>
              </g></svg
            >
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <h5>En la tranquilidad de tu casa</h5>
        <p>
          Podrás revisar la actividad de tu negocio desde la comodidad de tu
          casa
        </p>
        <div class="flex flex-row m-4 items-center gap-2">
          <div class="flex flex-col items-center w-52">
            <p class="text-center">Disponible las 24 horas</p>
            <svg
              fill="#000000"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="64px"
              height="64px"
              viewBox="0 0 461.497 461.497"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <g id="Layer_2_17_">
                    <g>
                      <path
                        d="M268.616,409.893c-3.622,0.977-7.318,1.848-10.986,2.602c-9.596,1.955-15.789,11.32-13.829,20.917 c0.11,0.548,0.247,1.069,0.404,1.593c2.618,8.674,11.466,14.086,20.518,12.239c4.378-0.896,8.79-1.939,13.115-3.103 c9.46-2.544,15.062-12.277,12.517-21.737C287.807,412.932,278.076,407.346,268.616,409.893z"
                      ></path>
                      <path
                        d="M144.994,400.018c-3.425-1.524-6.842-3.174-10.157-4.908c-8.687-4.529-19.396-1.163-23.926,7.523 c-2.236,4.272-2.55,9.039-1.258,13.317c1.334,4.412,4.369,8.307,8.772,10.605c3.957,2.061,8.024,4.032,12.104,5.851 c8.941,3.992,19.43-0.016,23.425-8.956C157.949,414.502,153.936,404.02,144.994,400.018z"
                      ></path>
                      <path
                        d="M205.979,415.609c-3.73-0.3-7.514-0.723-11.228-1.245c-9.699-1.382-18.673,5.367-20.051,15.065 c-0.374,2.636-0.145,5.213,0.575,7.602c1.933,6.405,7.433,11.441,14.496,12.449c4.419,0.624,8.917,1.125,13.362,1.479 c9.766,0.791,18.317-6.487,19.103-16.247C223.021,424.946,215.747,416.395,205.979,415.609z"
                      ></path>
                      <path
                        d="M325.738,383.44c-3.081,2.12-6.277,4.178-9.494,6.12c-7.089,4.271-10.115,12.719-7.833,20.294 c0.42,1.388,1.02,2.748,1.802,4.051c5.052,8.389,15.953,11.083,24.343,6.033c3.825-2.307,7.625-4.761,11.288-7.28 c8.066-5.553,10.11-16.596,4.556-24.661C344.849,379.924,333.803,377.888,325.738,383.44z"
                      ></path>
                      <path
                        d="M395.453,335.48c-7.944-5.728-19.028-3.931-24.757,4.008c-2.188,3.037-4.504,6.05-6.875,8.941 c-3.89,4.75-4.9,10.908-3.255,16.375c0.985,3.254,2.911,6.269,5.736,8.585c7.577,6.205,18.75,5.091,24.955-2.487 c2.831-3.45,5.595-7.043,8.202-10.664C405.189,352.294,403.396,341.213,395.453,335.48z"
                      ></path>
                      <path
                        d="M420.276,270.883c-9.4-2.746-19.247,2.654-21.989,12.056c-1.054,3.601-2.228,7.217-3.485,10.745 c-1.334,3.713-1.354,7.585-0.292,11.092c1.568,5.203,5.495,9.614,10.994,11.584c9.222,3.307,19.371-1.483,22.683-10.7 c1.504-4.204,2.901-8.508,4.146-12.792C435.074,283.471,429.676,273.62,420.276,270.883z"
                      ></path>
                      <path
                        d="M453.552,155.337l-23.307,7.242c-17.688-54.204-54.93-98.746-105.337-125.798c-5.074-2.725-10.221-5.229-15.431-7.53 c-0.038-0.018-0.068-0.033-0.103-0.056c-0.218-0.092-0.447-0.178-0.659-0.272C262.758,8.814,211.901,5.002,163.15,18.204 c-0.383,0.075-0.766,0.147-1.144,0.254c-1.628,0.444-3.271,0.925-4.892,1.409c-2.661,0.804-5.338,1.67-7.964,2.571 c-0.311,0.107-0.604,0.24-0.906,0.36c-43.518,15.075-80.577,42.869-107.015,80.005c-0.094,0.128-0.2,0.238-0.289,0.365 c-2.584,3.629-5.087,7.392-7.451,11.188c-0.148,0.243-0.271,0.496-0.412,0.747c-2.358,3.824-4.624,7.736-6.77,11.726 C4.395,167.665-3.964,213.292,1.739,258.362c0.013,0.103,0.025,0.199,0.034,0.301c0.009,0.072,0.025,0.147,0.042,0.222 c1.55,12.04,4.096,24.041,7.671,35.895c9.388,31.125,25.053,59.112,46.557,83.188c6.523,7.302,17.735,7.932,25.041,1.409 c7.302-6.525,7.939-17.74,1.411-25.04c-10.735-12.013-19.719-25.208-26.91-39.424c-0.077-0.175-0.145-0.354-0.229-0.522 c-1.691-3.354-3.298-6.792-4.786-10.233c-0.008-0.027-0.017-0.043-0.029-0.065c-2.708-6.334-5.069-12.854-7.093-19.553 c-23.243-77.066,6.399-157.708,67.912-202.796c0.91-0.662,1.819-1.33,2.738-1.972c15.792-11.138,33.604-19.97,53.098-25.848 c19.618-5.914,39.457-8.398,58.887-7.816c0.314,0.014,0.619,0.023,0.93,0.032c1.186,0.036,2.368,0.099,3.548,0.165 c0.477,0.025,0.952,0.051,1.428,0.081c60.587,3.79,116.456,37.44,147.82,90.305c0.017,0.03,0.029,0.064,0.05,0.094 c0.465,0.785,0.919,1.569,1.375,2.363c0.054,0.089,0.113,0.168,0.165,0.259c6.001,10.523,11.05,21.784,14.977,33.701 l-23.306,7.246c-6.473,2.011-7.11,6.668-1.429,10.35l50.719,32.852c5.686,3.685,12.468,1.575,15.061-4.676l23.171-55.82 C463.182,156.804,460.02,153.327,453.552,155.337z"
                      ></path>
                      <path
                        d="M155.288,231.23c-17.092,12.662-28.75,23.646-34.964,32.95c-6.208,9.303-9.932,19.235-11.155,29.796h106.935v-29.053 h-55.657c3.268-3.213,6.111-5.805,8.533-7.785c2.423-1.991,7.217-5.457,14.395-10.418c12.074-8.517,20.404-16.335,24.985-23.455 c4.577-7.114,6.868-14.582,6.868-22.4c0-7.349-1.997-13.987-5.993-19.912c-3.999-5.919-9.486-10.311-16.456-13.17 c-6.969-2.855-16.728-4.288-29.273-4.288c-12.014,0-21.419,1.505-28.219,4.514c-6.792,3.004-12.061,7.319-15.792,12.944 c-3.735,5.636-6.299,13.467-7.702,23.497l35.704,2.887c0.991-7.229,2.933-12.278,5.818-15.135 c2.891-2.859,6.604-4.29,11.161-4.29c4.373,0,8.006,1.388,10.892,4.16c2.886,2.766,4.332,6.109,4.332,10.02 c0,3.619-1.458,7.438-4.377,11.466C172.406,217.582,165.726,223.476,155.288,231.23z"
                      ></path>
                      <path
                        d="M323.651,293.977v-23.979h16.099V242.34h-16.099v-78.844h-31.066l-64.93,77.187v29.315h64.93v23.979H323.651 L323.651,293.977z M258.28,242.34l34.305-40.366v40.366H258.28z"
                      ></path>
                    </g>
                  </g>
                </g>
              </g></svg
            >
          </div>
          <div class="flex flex-col items-center w-52">
            <p class="text-center">Fácil apertura de cajas</p>
            <svg
              fill="#000000"
              width="64px"
              height="64px"
              viewBox="0 0 512 512"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
                ><path
                  d="M511.1 378.8l-26.7-160c-2.6-15.4-15.9-26.7-31.6-26.7H208v-64h96c8.8 0 16-7.2 16-16V16c0-8.8-7.2-16-16-16H48c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16h96v64H59.1c-15.6 0-29 11.3-31.6 26.7L.8 378.7c-.6 3.5-.9 7-.9 10.5V480c0 17.7 14.3 32 32 32h448c17.7 0 32-14.3 32-32v-90.7c.1-3.5-.2-7-.8-10.5zM280 248c0-8.8 7.2-16 16-16h16c8.8 0 16 7.2 16 16v16c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16v-16zm-32 64h16c8.8 0 16 7.2 16 16v16c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16v-16c0-8.8 7.2-16 16-16zm-32-80c8.8 0 16 7.2 16 16v16c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16v-16c0-8.8 7.2-16 16-16h16zM80 80V48h192v32H80zm40 200h-16c-8.8 0-16-7.2-16-16v-16c0-8.8 7.2-16 16-16h16c8.8 0 16 7.2 16 16v16c0 8.8-7.2 16-16 16zm16 64v-16c0-8.8 7.2-16 16-16h16c8.8 0 16 7.2 16 16v16c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16zm216 112c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h176c4.4 0 8 3.6 8 8v16zm24-112c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16v-16c0-8.8 7.2-16 16-16h16c8.8 0 16 7.2 16 16v16zm48-80c0 8.8-7.2 16-16 16h-16c-8.8 0-16-7.2-16-16v-16c0-8.8 7.2-16 16-16h16c8.8 0 16 7.2 16 16v16z"
                ></path></g
              ></svg
            >
          </div>
          <div class="flex flex-col items-center w-52">
            <p class="text-center">Fácil gestión de usuarios</p>
            <svg
              fill="#000000"
              height="64px"
              width="64px"
              version="1.1"
              id="Capa_1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              viewBox="0 0 432.232 432.232"
              xml:space="preserve"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <g>
                  <path
                    d="M118.544,237.123c23.305-0.035,42.277-19.036,42.277-42.355v-12.471c0-1.257-0.059-2.525-0.175-3.797h-5.705 c-10.037,0-13.704-9.723-15.363-15.515c-9.642,4.552-33.285,14.991-63.151,15.496c-0.117,1.279-0.177,2.554-0.177,3.816v12.471 C76.25,218.087,95.223,237.088,118.544,237.123z"
                  ></path>
                  <path
                    d="M412.232,72.764H20c-11.028,0-20,8.972-20,20v246.704c0,11.028,8.972,20,20,20h392.232c11.028,0,20-8.972,20-20V92.764 C432.232,81.736,423.261,72.764,412.232,72.764z M244.951,217.07h32.442v30.452h-32.442V217.07z M183.158,286.994l-0.074,29.68 H53.988l-0.076-30.063V262.86c0-12.265,13.169-16.898,23.751-20.622c2.393-0.842,5.109-1.798,7.299-2.761 c-0.391-0.43-0.786-0.863-1.187-1.303c-9.146-10.032-19.51-21.397-19.578-41.468l-1.227-15.681 c-2.754-35.432,14.915-40.875,41.661-49.115c3.924-1.209,7.982-2.459,12.331-3.9c5.613-1.86,11.128-2.803,16.39-2.803 c11.177,0,20.954,4.182,28.273,12.092c9.442,10.205,13.873,25.734,12.475,43.727l-1.227,15.681 c-0.068,20.07-10.431,31.436-19.576,41.467c-0.401,0.44-0.797,0.874-1.188,1.304c2.188,0.963,4.906,1.919,7.299,2.761 c10.582,3.723,23.751,8.357,23.751,20.622L183.158,286.994z M319.947,314.451h-74.996v-30.452h74.996V314.451z M336.168,247.522 h-32.443V217.07h32.443V247.522z M394.943,247.522h-32.442V217.07h32.442V247.522z M394.943,180.593H244.951v-30.452h149.992 V180.593z"
                  ></path>
                  <polygon
                    points="118.536,288.705 151.567,253.67 85.505,253.67 "
                  ></polygon>
                </g>
              </g></svg
            >
          </div>
        </div>
      </div>
      <img
        src="/image/mujerSentada.webp"
        alt=""
      />
    </article>
  </main>
</Layout>

<style>
  article {
    @apply flex flex-col m-10 items-center justify-evenly bg-white rounded-lg md:flex-row dark:bg-gray-800 dark:hover:bg-gray-700;
  }

  article > div {
    @apply flex flex-col justify-between p-4 leading-normal;
  }

  article > img {
    @apply object-cover rounded-2xl h-[400px] w-[400px] aspect-square;
  }

  h5 {
    @apply mb-2 text-5xl font-bold tracking-tight text-gray-900 dark:text-white;
  }

  p {
    @apply mb-3 text-2xl font-semibold text-gray-500 dark:text-gray-200;
  }
</style>
