---
import Layout from "@layouts/LayoutLogin.astro";
import LoginForm from "@/src/components/shared/LoginForm.astro";
---

<Layout>
  <div class="login">
    <h1>Iniciar Sesión</h1>
    <LoginForm />
    <div class="quote">
      <center>
        <span>Ingresar alguna de las siguientes cuentas ficticias</span>
        <span>admin@example.com ó proovedor@example.com ó producto@example.com ó cajas@example.com</span>
        <span>Con la siguiente contraseña</span>
        <span>Password: 1234</span>
      </center>
    </div>
  </div>
</Layout>
