---
import BaseLayout from "../layouts/Layout.astro";
import Crud from "../components/producto/crud.astro";
import Listado from "../components/producto/listado.astro";
---

<BaseLayout>
  <div class="flex flex-row max-md:flex-col justify-evenly">
    <Listado producto={true} />
    <section>
      <Crud />
    </section>
  </div>
</BaseLayout>
