---
import BaseLayout from "../layouts/Layout.astro";
import Item from "../components/producto/item.astro";
import Crud from "../components/producto/crud.astro";
import { db, Product } from "astro:db";

const listProduct = await db.select().from(Product)
console.log('Productos', listProduct)
---

<BaseLayout>
  <div class="flex flex-row justify-evenly">
    <section>
      <p>Listado de Productos</p>
      {listProduct.length > 0 && (
        <section class="mt-3 grid grid-flow-row gap-2">
          {listProduct.map((items) => (
            <Item nombre={items.nombre} codigo={items.codigo} precio={items.precio} cantidad={items.cantidad} />
          ))}
        </section>
      )}
    </section>
    <section>
      <Crud />
    </section>
  </div>
</BaseLayout>
