---
import BaseLayout from "../layouts/Layout.astro";
import Details from "../components/producto/details.astro";
import Contacto from '../components/proveedor/contacto.astro';
import Agenda from '../components/proveedor/agenda.astro';
import Listado from "../components/producto/listado.astro";
---

<BaseLayout>
  <div class="flex flex-row justify-evenly">
    <div class="py-4 px-1">
      <!-- <section class="pb-2">
        Ver que se hace luego. Hay que asociar el producto con el proveedor
        <Details />
        <Contacto nombre="Nombre Proveedor" direccion="Direccion" telefono="1234567890" />
      </section> -->
      <section class="pb-2">
        <Agenda />
      </section>
    </div>
    <Listado />
  </div>
</BaseLayout>
