---
import BaseLayout from "../layouts/Layout.astro";
import Details from "../components/producto/details.astro";
import Contacto from '../components/proveedor/contacto.astro';
import Agenda from '../components/proveedor/agenda.astro';
import Listado from "../components/producto/listado.astro";
---

<BaseLayout>
  <div class="flex flex-row justify-evenly">
    <Listado />
    <div class="px-2">
      <section class="pb-2">
        <Details />
        <Contacto nombre="Nombre" direccion="Direccion" telefono="1234567890" />
      </section>
      <section class="pb-2">
        <Agenda />
      </section>
    </div>
  </div>
</BaseLayout>
