---
interface Props {
  nombre: string;
  codigo: number;
  precio: number;
  cantidad: number;
}

const { nombre, codigo, precio, cantidad } = Astro.props;
---

<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
  <th
    scope="row"
    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
  >
    {nombre}
  </th>
  <td class="px-6 py-4"> {codigo} </td>
  <td class="px-6 py-4"> ${precio} </td>
  <td class="px-6 py-4">
    {
      cantidad === 0 && (
        <button
          type="button"
          class="animate-pulse focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-2xl text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        >
          Alerta
        </button>
      )
    }
  </td>
</tr>

<style>
  article {
    @apply flex flex-row items-center gap-6;
  }
</style>
